.content {
  width: 85%;
  height: 100%;
  padding: 2%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
}

.cards .info {
  height: 75%;
  font-size: 2em;
}

.info {
  font-size: 2em;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 20vh;
  width: 20%;
  background-color: rgb(233, 233, 233);
  padding: 1.6%;
  font-weight: 500;
  border-radius: 5px;
}

.card span {
  font-size: 1.3em;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qtdocorrencias {
  border-left: 12px solid #f9d100;
}

.agenciamaisocorrencias {
  border-left: 12px solid #ff3b3b;
}

.agenciamenosocorrencias {
  border-left: 12px solid #26611c;
}

.separador {
  margin: 5%;
  height: 100%;
  border: 1.8px solid rgb(222, 222, 222);
  border-radius: 2px;
}

.graficos {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grafico-linha {
  border: 5px;
  padding: 0.5%;
  background-color: rgb(222, 222, 222);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kpi {
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5% 2%;
  height: 100%;
  width: 20%;
}

.kpi span {
  font-size: 1.5em;
  font-weight: 500;
}

.kpi .info {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
  font-weight: 800;
}