@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f1923;
}

.container {
  display: flex;
  background-color: #0f1923;
}

nav {
  position: relative;
  height: 100vh;
  width: 244px;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 0;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 17px 15px;
}

nav .fas {
  font-size: 20px;
  margin-right: 13px;
  margin-left: 15px;
}

.nav-item {
  margin-left: 10px;
}

a:hover {
  background: #c4c4c4;
}

.logout {
  position: absolute;
  bottom: 0;
}

.main {
  padding: 20px;
  width: 100%;
}

.main-cima {
  display: flex;
  width: 100%;
}

.main-cima h1 {
  color: white;
  margin-left: 10px;
}

.investimentos {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.investimentos .card {
  flex: 1;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.investimentos .card h3 {
  margin: 10px;
  text-transform: capitalize;
}

.investimentos .card p {
  font-size: 12px;
}

.analise {
  margin-top: 50px;
  display: flex;
  text-transform: capitalize;
}

.caixa {
  flex: 1;
  background: #d3d3d3;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
}

.caixa .course {
  display: flex;
  gap: 10px;
}

.caixa1 {
  flex: 1;
  margin: 5px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.caixa1 h3 {
  margin: 10px 0;
}

.caixa1 button {
  background: #212529;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.caixa1 button:hover {
  background: rgba(0, 0, 0, 0.842);
}

.caixa2,
.caixa-ajuda {
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  background-color: #0f1923;
  color: white;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

select:hover,
select:focus {
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

table:hover {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
}

table th,
table td {
  padding: 10px;
  border: 2px solid #0f1923;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

table tr:hover td {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

table th {
  background-color: #0f1923;
  color: white;
}