.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.caixaGraficos {
  width: 96%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 2%;
  border-radius: 10px;
}

.caixaGraficos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graficos {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}

.graficoUm {
  width: 50%;
  padding-left: 2%;
}

.graficoDois {
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
}

.parteBaixo {
  display: flex;
  flex-direction: row;
}

.tabela {
  width: 50%;
}


.card {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  background: #FFF;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5%;
  margin-left: 2%;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.titulo h1 {
  font-size: 25px;
  color: black;
}

.campos {
  display: flex;
}


.campos button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #0f1923;
  outline: none;
  background-color: #0f1923;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.campos input {
  margin-right: 30px;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #0f1923;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.campos button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
  transform-origin: center;
}

.campos button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
}

.campos button:hover::before,
.campos button:hover::after {
  transform: scale(0)
}

.campos button:hover {
  box-shadow: inset 0px 0px 25px #fff;
}


.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #364d64;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #0f1923;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #cacaca;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s ease;
  background-color: #ffffff;
  margin-left: 2%;
  margin-bottom: 2%;
}

table:hover {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
}

table th,
table td {
  padding: 8px 10px;
  border: 1px solid #000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: default;
}

table tr:hover td {
  background-color: #c3c3c3;
  color: #000000;
  transform: scale(1.2);
}

table th {
  background-color: black;
  color: white;
}

.tabela {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  background: #FFF;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5%;
  margin-left: 2%;
  overflow-y: auto;
}


