@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f1923;
}

.pagina {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content  {
    display: flex;
    width: 85%;
    justify-content: center;
}

.conteudo-dash {
    width: 100%;
}

.titulo_dash {
    text-align: center;
    color: #fff;
    margin: 10px 0px;
    justify-content: center;
    display: flex;
}

.kpis {
    display: flex;
    width: 100%;
    height: 22%;
    justify-content: space-evenly;
}

.card {
    display: flex;
    width: 45%;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ffffff24;
    border: 2px solid #000000;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ffffff24;
    border: 2px solid #000000;
    justify-content: space-evenly;
}

.cardSpan {
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    /*font-weight: bold;*/
}

.cardSpanDestaque {
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    color: #6089c0;
    font-weight: bold;
}

.cardParte1 .cardSpanDestaque {
    color: #ce2d2d;
}

.cardParte1 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.cardParte2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.cardParte3 {
    width: 50%;
    align-self: center;
}

.cardParte4 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.periodos {
    display: flex;
    flex-direction: column;
}

.borda {
    border: 1px solid #0f1923;
}

#bordaGrafico {
    height: 100%;
    border: 1px solid #fffF;
}


.espacamento {
    margin-left: 6px;
}

#chart {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #0f1923;
    box-shadow: 0px 0px 10px #ffffff21;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

#chart2 {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #0f1923;
    box-shadow: 0px 0px 10px #ffffff21;
    margin-left: 20px;
}

#chart3 {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #0f1923;
    box-shadow: 0px 0px 10px #ffffff21;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.teste {
    border: 2px solid white;
    width: 20%;
    height: 100%;
}

.graficos {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
}

.selects {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
    max-height: 200px;
}

select {
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    max-height: 200px;
}

.check {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check:hover {
    cursor: pointer;
    background-color: #cadaee;
}

.fa-solid.fa-check {
    font-size: 1.5em;
}

.grafico {
    display: flex;
    flex-direction: column;
    width: 45%;
    transition: all 1s ease-out;
}

.grafico2 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.grafico3 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.fa-solid.fa-plus {
    font-size: 1.5em;
}

.conteudo-grafico {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.info-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.fa-solid.fa-circle-info {
    font-size: 15px;
    color: #000000;
}

.conteudo_info {
    visibility: hidden;
    width: 200px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #727272;
    box-shadow: 0px 0px 5px #000000;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: -315%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
    
}

.conteudo_info::after {
    content: "";
    position: absolute;
    bottom: 100%; 
    left: 50%; 
    margin-left: -5px; 
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.info-container:hover .conteudo_info {
    visibility: visible;
    opacity: 1;
}

.titulo_grafico {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0px 0px 0px;
}

#agencia_top_alerta {
    margin-left: 8px;
}

h1 > select {
    padding: 0px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #0f1923;
    color: #fff;
    
    margin: 0px 4px;
}

option {
    background-color: #fff;
    font-size: 15px;
    color: #000000;
}

.titulo_grafico1 {
    display: flex;
    flex-direction: row;
    color: #fff;
}

#botaoPlus {
    background-color: #fff;
    width: 100px;
    height: 85px;
    padding: 10px;
    border-radius: 8%;
    font-weight: bold;
}

#botaoPlus:hover {
    cursor: pointer;
    background-color: #cadaee;
}

.select_estilo {
    padding: 0px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #0f1923;
    color: #fff;
    margin: 0px 4px;
}

.fa-solid.fa-chart-simple {
    font-size: 30px;
}

.botao_comparacao {
    display: flex;
    flex-direction: column;
}

#previsao {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
}

#botaoPlusPrevisao {
    background-color: #fff;
    width: 100px;
    height: 85px;
    padding: 10px;
    border-radius: 8%;
    font-weight: bold;
    
}

#botaoPlusPrevisao:hover {
    cursor: pointer;
    background-color: #cadaee;
}

.fa-solid.fa-magnifying-glass {
    font-size: 25px;    
}

.fa-solid.fa-dollar-sign {
    font-size: 25px;
}

.botoes_grafico {
    display: flex;
    flex-direction: column;
    height: 69%;
    justify-content: space-around;
}

#botaoPlusPix {
    background-color: #fff;
    width: 100px;
    height: 85px;
    padding: 10px;
    border-radius: 8%;
    font-weight: bold;
}

input {
    border: none;

}

#arquivo_upload {
    background-color: #fff;
    align-self: center;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: none;
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;
    color: transparent;
}

#arquivo_upload::-webkit-file-upload-button {
    visibility: hidden;
}

#arquivo_upload::before {
    content: 'Upload Arquivo';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

#arquivo_upload:hover {
    background-color: #3f9fff51;
}