@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

a:hover, .sidebar .menu a:hover {
  background: #808080;
}


.agora, .sidebar .menu a.active {
  background-color: #000000;
  color: #ffffff;
}

.logout {
  width: 15%;
  position: absolute;
  bottom: 0;
}

.content, .main-content {
  width: 85%;
  padding: 20px;
  background-color: #0f1923;
}

h1, .main-content h1 {
  margin-bottom: 20px;
}


#selecAgencia {
  width: 350px; 
  height: 150px; 
  font-size: 65px;
  padding: 5px; 
  color: #ffffff;
  background-color: #0f1923;
  border-radius: 5px; 
  font-family: 'Poppins', sans-serif; 
}


#selecMes {
  width: 390px; 
  height: 150px; 
  font-size: 65px;
  padding: 5px; 
  color: #ffffff;
  background-color: #0f1923;
  border-radius: 5px; 
  font-family: 'Poppins', sans-serif; 
}


.container-botoes {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  align-items: center; 
}


.alert-summary {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.alert-summary {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  
}

.alert-item {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert-item.yellow {
  background-color: #ffe066;
}

.alert-item.red {
  background-color: #ff6b6b;
}

.alert-item img {
  width: 30px;
}

.dashboard {
  display: flex;
  gap: 20px;
}

.tabela {
  flex: 2;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.tabela h2 {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.filtrar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.tabela table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.tabela table th, .tabela table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}



.ocorrencias {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 200px;
  
}


.conteudo_alerta {
  display: flex;
  flex-direction: row;
}


.statusOcorrencia{
  width: "40px"; 
  height:"40px";
  margin: 40%;
  width: 100% !important;
  height: auto !important;
}


.itensOcorrencia {
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 300000px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.itensOcorrencia h3 {
  margin-bottom: 15px;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}

.itensOcorrencia table {
  width: 100%;
  border-collapse: collapse;
}

.itensOcorrencia table th,
.itensOcorrencia table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.itensOcorrencia table tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}

