select {
    width: 100%;
    
}

@media (max-width: 430px) {
    html {
        height: 100%;
        background-color: #5B0C0C;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        margin: 10px 0;
        padding: 0 25px;
        width: 90%;
        justify-content: center;
        align-self: center;
        position: relative;
    }

    .logo {
        width: 25%;
        color: #ffffff;
    }

    .logo img {
        width: 100%;
    }

    nav {
        width: 75%;
        justify-self: flex-end;
    }

    nav ul {
        gap: 5px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #5b0c0c;
        border-radius: 5px;
        width: 75%;
        box-shadow: black 4px 4px 10px;
        border: 1px solid black;
    }

    nav ul li {
        margin: 15px 0;
        text-align: center;
    }

    nav ul li:hover {
        background-color: #410808;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    .hamburguer {
        display: block;
    }

    nav ul.ativo {
        display: block;
    }

    .form-container {
        width: 80%;
    }

    .btn-primary {
        border-radius: 20px;
    }

    .btn-secondary {
        border-radius: 20px;
    }

    .btn_login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}